<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pandalous</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='hacker.css')}}" rel="stylesheet"/>
    <link rel="stylesheet" href="{{url_for('static', filename='jquery-jvectormap-2.0.3.css')}}" type="text/css" media="screen"/>

    <!--[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <!--navgation bar-->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <!--toggle botton for smart phone-->
          <button type="button" class="navbar-toggle collapsed" 
            data-toggle="collapse" data-target="#navbar" aria-expanded="false" 
            aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--logo-->
          <a class="navbar-brand" href="#">Pandalous</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">hogehoge</a></li>
          </ul>
        </div><!--/.nav-collapse -->

      </div><!--/.container-fluid -->
    </nav>


    <div class="container-fluid">
      <div class="row">

        <div class="col-xs-12">
          <!--map-->
          <div id="map" style="width: 100vw; height: 95vh;">
          </div>
        </div>

<!--
        <div class="col-xs-1">
          <table class="table text-danger">
            <thead>
              <tr><th>SRC</th><th>DEST</th><th>PORT</th></tr>
            </thead>
            <tbody>
              <tr><td>choruru</td><td>taisho</td><td>22</td></tr>
              <tr><td>motomu</td><td>taisho</td><td>80</td></tr>
              <tr><td>hogehoge</td><td>taisho</td><td>443</td></tr>
              <tr><td>hogehoge</td><td>taisho</td><td>443</td></tr>
            </tbody>
          </table>
        </div>
-->
      </div>
    </div>

    <div>
    <button onclick="add();">add()</button>
    </div>

    <div class="container-fluid">
    Footer
    </div>

    <link href="{{url_for('static', filename='hacker.css')}}" rel="stylesheet"/>
    <script src="{{url_for('static', filename='jquery-1.11.3.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-jvectormap-2.0.3.min.js')}}"></script>
    <script src="{{url_for('static', filename='jquery-jvectormap-world-mill.js')}}"></script>
    <script src="{{url_for('static', filename='md5.js')}}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <!-- for flow control -->
    <script type="text/javascript">
      var map;
      var flows = {};
      var flowmarker;
      var flowcnt = 0;
      var tips = {'test':1};

      $(function(){
        $('#map').vectorMap({
          map: 'world_mill',
          onViewportChange: resize,
          onRegionTipShow: function(e, el, code){
            var map = $('#map').vectorMap('get', 'mapObject');
            var name = map.getRegionName(code);
            el.html(el.html()+'<br>packet: '+tips[name]);
            console.log("tip flow size : " + name + tips[name])
          },
        });

      map = document.getElementById("map");
      //var g = map.getElementsByTagName("svg")[0].getElementsByTagName("g");
      //g[1].id = "marker";
      var svg = map.getElementsByTagName("svg")[0];
      svg.id = "marker";
          flowmarker = d3.select("#marker");
          map = $('#map').vectorMap('get', 'mapObject');
          $(window).resize(resize);
        });


      function drawpkt(pathid, circleid, circleindex, totalpkt, cx, cy){
        flowmarker.select('#' + circleid)
          .transition()
          .duration(5000+(1000)/totalpkt*circleindex)
          .ease("sin")
          .attrTween('transform', function(d) {
            return function(t) {
              var p = flowmarker.select("#"+pathid).node()
                        .getPointAtLength(flowmarker.select("#"+pathid).node()
                        .getTotalLength()*t);
              if(t == 1){
                var bomb = flowmarker.append("circle")
                             .attr("id", circleid + "bomb")
                             .attr("cx", p.x)
                             .attr("cy", p.y)
                             .attr("r", 3)
                             .attr("stroke", "rgba(255, 0, 0, 1.0)")
                             .attr("fill", "none");

                bomb.transition().duration(2000)
                  .attr("r",50)
                  .attr("stroke","rgba(255, 0, 0, 0)")
                  .each("end", function() {flowmarker.select("#" + circleid + "bomb").remove()});

                flowmarker.select('#' + circleid).remove();
                if(circleindex == totalpkt-1){
                  flowmarker.select("#"+pathid).remove();
                }
              }
              return "translate(" + (p.x-cx) + "," + (p.y-cy) + ")";
            }
          })
      };


      function drawflow(flowkey){
        var rand = Math.floor(Math.random()*100).toString();
        var flow = flows[flowkey];
        var src = map.latLngToPoint(flow.src[0], flow.src[1]);
        var dst = map.latLngToPoint(flow.dst[0], flow.dst[1]);
        var x1 = 100;
        var y1 = 0;
        var x2 = dst.x - src.x;
        var y2 = dst.y - src.y;
        var theta = 360 * Math.atan2(x1*y2-y1*x2, x1*x2+y1*y2)/2/Math.PI
        var rx = Math.sqrt((dst.x-src.x)*(dst.x-src.x) + (dst.y-src.y)*(dst.y-src.y))/2;
        var ry = rx/2;
        var pathid = "path" + flowkey + rand;
        var circleids = [];
        var circleid;

        // append path
        flowmarker.append('path').attr({
          'id':pathid,
          'd': "M" + src.x + " " + src.y + " A " + rx + " " + ry +"  "+ theta  +" 0 1 " + dst.x + " " + dst.y,
          'fill': 'none',
          'stroke': 'purple',
          'stroke-width': 0.3,
        });

        // push circles
        for(var i = 0; i < 10; i++){  //10 circles to dwar a line
          circleid = "circle" + flowkey + rand + "-" + i.toString();
          circleids.push(circleid);
        }

        // prepare circles
        var color;
        switch(flow.proto){
          case 1:
            color = "yellow";
            break;
          case 6:
            color = "blue";
            break;
          case 19:
            color = "red";
            break;
          default:
            color = "black";
        }

        for(var i = 0; i < circleids.length; i++){
          flowmarker.append('circle')
            .attr({
              'id': circleids[i],
              'cx': src.x,
              'cy': src.y,
              'r': 5, //flows[flowkey].volume * 3,
              'fill': color,
            });
        }

        for(var index = 0; index < circleids.length; index++){
          drawpkt(pathid, circleids[index], index, circleids.length, src.x, src.y);
        };

      }


      function drawflows() {
        for(var flowkey in flows){
          // if flow.display == true then call drawflow()
          if(flows[flowkey].display){
            drawflow(flowkey);
            flows[flowkey].display = false;
          }
        };
      };


      function resize(){
        //alert("resie draw");
        //draw();
      }


      function $s(elem) {
        return $(document.createElementNS('http://www.w3.org/2000/svg', elem));
      }


      function add(){
        var $path = $(document.createElementNS('http://www.w3.org/2000/svg', 'path'));
        var $circle = $(document.createElementNS('http://www.w3.org/2000/svg', 'circle'));
        flows["test1"] = {
          src:[37, -122],
          dst:[35, 139],
          volume:Number(100),
          display:Boolean(true),
        };
        flows["test2"] = {
          src:[50, -100],
          dst:[80, 50],
          volume:Number(1),
          display:Boolean(true),
        };
        drawflows();
      }

    </script>


    <!-- for socket.io -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">

      // make a socket, set an event handler
      $(document).ready(function(){
        var namespace = ''; // change to an empty string to use the global namespace
        var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

        // called everytime when recieved data from the socket
        socket.on('pktdata', function(msg) {
          // print data num, flow num
          console.log("data size : " + msg.data["data"].length);
          console.log("flow size : " + flowcnt);

          var keys = [];   // for store every key
          var traffics = {};  // for store every traffic volume by keys

          for (var i = 0; i < msg.data["data"].length; i++) {
            var flow = jQuery.parseJSON(msg.data["data"][i]);
            var key = CybozuLabs.MD5.calc(flow["sip"] + flow["dip"] + flow["sport"] + flow["dport"] + flow["proto"]);

            /****TEST****/
            if(flow["dstcount"] != "Japan"){
              continue;
            }
            /************/

            /****Tips data****/
            if (flow["srccount"] in tips){
              tips[flow["srccount"]] += 1
            }else{
              tips[flow["srccount"]] = 1
            }
            /*****************/

            var j;     //calc traffic volumes of each traffic
            for (j=0; j<keys.length; j++){
              if (key == keys[j]){
                traffics[key] += 1;
                break;
              }
            }
            if(j!=keys.length){  // if exist
              continue;
            }
            else{                // if not exist
              traffics[key] = 1;
              keys.push(key);
            }

            //register new flow
            flows[key] = {
              sip: flow["sip"],
              dip: flow["dip"],
              sport: flow["sport"],
              dport: flow["dport"],
              proto: flow["proto"],
              src:[Number(flow["srclat"]), Number(flow["srclog"])],
              dst:[Number(flow["dstlat"]), Number(flow["dstlog"])],
              lifetime:Number(50),
              volume:Number(1),
              display:Boolean(true),
            };
            flowcnt += 1;
          };

          for (var flowkey in flows){ //if no pkts arrived this time then decrease lifetime
            if (flowkey in keys){
              continue;
            }
            else if (flows[flowkey].lifetime == 0){  //if lifetime == 0 delete the flow
              delete flows[flowkey];
              flowcnt -= 1;
            }
            else{
              flows[flowkey].lifetime -= 1;
            }
          }

          for (var k=0; k<keys.length; k++){ //set traffic volumes to each traffic
            flows[keys[k]].volume = traffics[keys[k]];
          }

          drawflows();
        });
      });

    </script>

  </body>
</html>
